.page-enter-active,
.page-leave-active {
  transition: opacity 1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.lazyLoad {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.isLoaded {
  opacity: 1;
}
